# IDE
.idea/

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# uv
.python-version

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Type checking
.mypy_cache/

# Linting
.ruff_cache/

# macOS
.DS_Store